@tailwind base;
@tailwind components;
@tailwind utilities;

/* Setting default color */

:root {
  --background: 0 0% 100%; /* white */
  --foreground: 222.2 47.4% 11.2%; /* black */

  --muted: 210 40% 96.1%; /* light grey */
  --muted-foreground: 215.4 16.3% 46.9%; /* dark grey */

  --popover: 0 0% 100%; /* white */
  --popover-foreground: 222.2 47.4% 11.2%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;

  --primary: 42 99% 48%; /* #F5AB01 */
  --primary-foreground: 0 0% 100%; /* white */
  --primary-hover: 42 98% 43%; /* #D79702 */

  --secondary: 24 3% 29%; /* #4D4A48 */
  --secondary-foreground: 0 0% 100%; /* white */
  --secondary-hover: 24 3% 23%; /* #3D3B3A */

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 100% 50%;
  --destructive-foreground: 210 40% 98%;

  --ring: 215 20.2% 65.1%;

  --radius: 0.5rem;
}

/* Settings */
@layer base {
  h1 {
    @apply mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl;
  }
  h2 {
    @apply mb-4 text-4xl tracking-tight font-extrabold text-gray-900;
  }
  h5 {
    @apply mb-1 text-lg font-bold;
  }
  h6 {
    @apply mb-4 text-sm font-bold text-gray-500 dark:text-gray-400;
  }
}

@layer components {
  .btn-default {
    @apply inline-flex items-center py-2 px-5 font-medium text-center text-primary-foreground rounded-lg bg-primary focus:ring-4 focus:ring-primary/50;
  }
  .btn-default:hover {
    background-color: hsl(var(--primary-hover));
  }
  .subtitle {
    @apply mb-6 text-gray-200 font-light lg:mb-8 md:text-lg lg:text-xl;
  }
  .feature {
    p {
      @apply mb-1 text-sm text-gray-200;
    }
    a {
      @apply cursor-pointer inline-flex drop-shadow items-center text-sm font-semibold text-primary hover:underline;
    }
  }
}
